﻿.txt 
{ 
    height: 25px; 
    width: 275px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: darkred; 
    outline:0;
    font-size:150%; 
  } 

.btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.btn2:hover
{
    background-color: #008CBA;
    color: white;
}

.span1
{
  font-size : 150%;
}
.span2
{
    font-size:200%;
}
.span3
{
    font-size:250%;
}
.span4
{
    font-size:300%;
}
.span5
{
    font-size:350%;
}

