﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Webpage2.aspx.cs" Inherits="Soln_CrossPostBack_Span.Webpage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Css/span.css" rel="stylesheet" type ="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div style="text-align: center" >

        <span id="span1" runat="server" class="span1"> </span><br />
        <span id="span2" runat="server" class="span2"> </span><br />
        <span id="span3" runat="server" class="span3"> </span><br />
        <span id="span4" runat="server" class="span4"> </span><br />
        <span id="span5" runat="server" class="span5"> </span>
        
    </div>
    </form>
</body>
</html>
